apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: demo-upgrade
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/otikhomi-tenant/demo-upgrade/demo-upgrade@sha256:2d02c841d24975d13361f864d153bd4957609ec3cca1ea39656a0ce2b1ea9a41
        name: my-java-springboot
        resources: {}
status: {}
